name: Update GitHub Ranking

on:
  schedule:
    - cron: '0 */6 * * *' # 每天凌晨 12 点运行 (UTC)
  workflow_dispatch: # 允许手动点击按钮运行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        run: python update_ranking.py
        env:
          G_TOKEN: ${{ secrets.GITHUB_TOKEN }} # 自动注入临时 Token

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add README.md
          git commit -m "docs: update ranking [skip ci]" || exit 0
          git push
